<div class="row">
    <div class="col-md-12">        
        <ng-template [ngTemplateOutlet]="noteList"></ng-template>        
    </div>
</div>

<ng-template #notelist>
    <div class="card" *ngFor="let noteitem of mainService.noteService.noteData | customfilter: mainService.searchText: fieldsToSearch; let i = index">        
        <div class="card-header">
            <button class="close" (click)="mainService.noteService.removeNote(noteitem._id, i)">
                &times;
            </button>
            <h5 class="card-title">{{noteitem?.title}}</h5>
        </div>
        <div class="card-body" (click)="mainService.noteService.editNote(noteitem)">
            <p class="card-text">{{noteitem?.note}}</p>
        </div>
    </div>
</ng-template>