<div class="container">
    <form class="form-horizontal" [formGroup]="form" (ngSubmit)="login()" novalidate>
        <div class="card">
            <div class="card-header">
                Login User
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="col-md-2">User Name</label>
                    <div class="col-md-4">
                        <input type="email" placeholder="Enter your email" [(ngModel)]="user.email" class="form-control"
                            formControlName="email">
                        <span class="text-danger" *ngIf="isSubmitted && FormCon.email.touched && FormCon.email.errors">Invalid Email</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Password</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" placeholder="your password"
                            [(ngModel)]="user.password" formControlName="password">
                        <span class="text-danger" *ngIf="isSubmitted && FormCon.password.touched && FormCon.password.errors">Invalid Password</span>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                Dont have account?<a href="#" [routerLink]="['/register']">register</a>
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>